* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body {
  height: 100vh;

  background: 
  linear-gradient(rgba(36,151,136, .8),
  rgba(36,151,136, 1) 15%, 
  rgba(218,219,212, .8) 15%, 
  rgba(218,219,212, 1));

}

#app {
  display: flex;
  align-items: center;
  height: 100%;
}

.container {
  width: 70%;
  height: 95vh;
  margin: auto;
  min-width: 800px;
  overflow: hidden;
  background-color: white; /*DA TOGLIERE*/
}

.container .left,
.container .right {
  float: left;
  height: 100%;
}


/*Box Avatar in comune per i due lati*/
.container .left .box-my-user,
.container .right .box-user {
  height: 70px;
  background-color: rgb(234, 234, 234);
  padding: 0 10px;
}


.container .left .box-my-user img,
.container .left .box-user img,
.container .right .box-user img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
}

/*Fine Blocco Avatar in comune*/



/*BLOCCO SINISTRO*/
.container .left {
  width: 40%;
}

/*Box My User*/

.container .left .box-my-user {
  display: flex;
  align-items: center;
  width: 100%;
  border-right: 1px solid rgba(0, 0, 0, .2);
}

.container .left .box-my-user .box-avatar {
  display: flex;
  align-items: center;
  width: 50%;
  margin-right: 10px;
}

.container .left .box-my-user .box-utilities {
  text-align: right;
  width: 50%;
}

.container .left .box-my-user .box-utilities .fas,
.container .right .box-user .box-utilities .fas {
  color: rgba(0, 0, 0, .5);
  font-size: 1.2em;
  margin: 0 5px;
}

/*Box Notifications*/

.container .left .box-notifications {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #8EDAFD;
  padding: 0 15px;
}

.container .left .box-notifications .fas {
  font-size: 20px;
  background-color: white;
  padding:  12px 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.container .left .box-notifications .box-test p {
  font-size: 12px;
  font-weight: bold;
}

.container .left .box-notifications .box-test p.not-desktop {
  color: rgba(0, 0, 0, .5);
  text-decoration: underline;
  font-size: 11px;
}


/*Input Search User*/

.container .left .input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 5px;
  background-color: #FAFAFA;
}

.container .left .box-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .3);
  padding: 0 8px;
}

.container .left .box-input .box-logo-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container .left .box-input .box-logo-search .fas {
  width: 10%;
}

.container .left .box-input .box-logo-search .fas:hover{
  cursor: pointer;
}

.container .left .box-input .box-logo-search input {
  border: none;
  width: 90%;
  padding: 2px;
}


/*List User*/
.container .left .list-user{
  height: calc(100% - 70px - 60px - 40px);
  width: 100%;
  overflow-y: scroll;
}

.container .left .list-user .box-user {
  display: flex;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.container .left .list-user .box-user:last-child {
  border-bottom: none;
}

.container .left .list-user .box-user .box-avatar-other-user{
  display: flex;
  align-items: center;
  height: 100%;
  width: 20%;
}

.container .left .list-user .box-user .box-avatar-other-user img {
  height: 60px;
  width: 60px;
}

.container .left .list-user .box-user .box-name{
  height: 100%;
  width: 50%;
  padding-top: 15px;
}


.container .left .list-user .box-user .box-name p {
  font-size: 11px;
  font-weight: bold;
  color: rgba(0, 0, 0, .4);
  margin-top: 3px;
}

.container .left .list-user .box-user .box-name p::after{
  content: "...";
}

.container .left .list-user .box-user .box-date{
  height: 100%;
  width: 30%;
  padding-top: 15px;
}

.container .left .list-user .box-user .box-date span {
  color: rgba(0, 0, 0, .4);
  font-size: 10px;
  font-weight: bold;
}

.container .left .list-user .box-user:hover{
  cursor: pointer;
  background-color: #E9EAEA;
}

.container .left .list-user .box-user.active{
  background-color: #53535342;
}


/*BLOCCO DESTRO*/
/* Box User  */
.container .right {
  width: 60%;
  height: 100%;
}

.container .right .box-user {
  display: flex;
  align-items: center;
  width: 100%;
}

.container .right .box-user .box-avatar {
  display: flex;
  align-items: center;
  width: 70%;
}

.container .right .box-user .box-avatar .box-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .right .box-user .box-avatar p {
  color: rgba(0, 0, 0, .5);
  font-weight: bold;
  font-size: 10px;
  margin-top: 3px;
}

.container .right .box-user .box-utilities {
  width: 30%;
  text-align: right;
}


/* Chat  */
.container .right .chat {
  overflow-y: scroll;
  height: calc(100% - 70px - 60px);
  background-image: url(../img/mine.jpg);
  padding: 0 30px;
}

.container .right .chat .message {
  position: relative;
  display: flex;
  justify-content: right;
  width: 100%;
  margin: 5px 0;
}



.container .right .chat .message .content {
  position: relative;
  width: 45%;
  padding: 15px;
  border-radius: 8px;
}

.container .right .chat .message.sent .content {
  background-color: #DCF8C6;
}

.container .right .chat .message.received {
  justify-content: left;
}

.container .right .chat .message.received .content {
  background-color: white;
}


.container .right .chat .message span{
  font-size: 13px;
}

.container .right .chat .message span.date {
  position: absolute;
  right: 5px;
  bottom: 2px;
  font-size: 8px;
  color: lightgray
}



/* InsertTextMessage  */
.container .right .text-message {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #F4EEEA; 
}

.container .right .text-message .box-emoji,
.container .right .text-message .box-input-message,
.container .right .text-message .box-vocal-audio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.container .right .text-message .box-emoji{
  width: 10%;
}

.container .right .text-message .box-input-message {
  width: 80%;
}

.container .right .text-message .box-vocal-audio {
  width: 10%;
}

.container .right .text-message .far.fa-smile,
.container .right .text-message .fas.fa-microphone {
  font-size: 20px;
  color: grey;
}

.container .right .text-message .box-input-message input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
}