<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>BoolZapp</title>
</head>
<body>
  <div id="app">
    <div class="container cleafix">

      <!-- LEFT -->

      <!-- List Chat -->
      <div class="left">

        <!--Box My User-->
        <section class="box-my-user">

          <div class="box-avatar">
            <img :src= myUser.avatar alt="">
            <h4>{{myUser.name}}</h4> 
          </div>
          
          
          <div class="box-utilities">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </section>

        <!--Box Notifications-->
        <section class="box-notifications">

          <i class="fas fa-bell-slash"></i>

          <div class="box-test">
            <p>Ricevi notifiche di nuovi messaggi</p>
            <p class="not-desktop">Attiva notifiche desktop</p>
          </div>

        </section>

        <!--Input Search User-->
        <section class="input">

          <div class="box-input">

            <div class="box-logo-search">
                <i class="fas fa-search"></i>
                <input
                v-model='searchUser'
                type="text"
                placeholder="Cerca o inizia una nuova chat"
                @keyup='compareName'>
            </div>

          </div>
        </section>

        <!--List User-->
        <section  class="list-user">

          <div v-for="(el,index) in users"
          v-if='el.visible===true'
          class="box-user"
          :class = "{'active':(index===activeChat)}"
          @click="activeChat=index">

            <div class="box-avatar-other-user">
              <img :src= el.avatar alt="">
            </div>

            <div class="box-name">
              <h4>{{el.name}}</h4>
              <p>{{el.messages[el.messages.length-1].message}}</p>

            </div>

            <div class="box-date">
              <span>{{el.messages[el.messages.length-1].date}}</span>
            </div>
          </div>

        </section>



      </div>


      <!-- RIGHT  -->

      <!-- Box User  -->
      <div class="right">
        <section class="box-user">

          <div class="box-avatar">
            <img :src="users[activeChat].avatar" alt="">
            <div class="box-text">
              <h5>{{users[activeChat].name}}</h5>
              <p>Ultimo accesso {{users[activeChat].messages[0].date}}</p>
            </div>
          </div> 

          <div class="box-utilities">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </section>
      


        <!--Chat-->
        <section class="chat clearfix">
          <div v-for="(singleMessage,index) in users[activeChat].messages"
          class="message"
          :class="{'received' : singleMessage.status === 'received', 'sent' : singleMessage.status === 'sent'}">
            <div class="content">
              <span>{{singleMessage.message}}</span>
              <span class="date">{{singleMessage.date}}</span>
            </div>
              
          </div>


        </section>

        <!--InsertTextMessage-->
        <section class="text-message">

          <div class="box-emoji">
            <i class="far fa-smile"></i>
          </div>

          <div class="box-input-message">
            <input v-model="myUser.message"
            @keyup.enter=pushMessage(myUser.message)
            type="text"
            placeholder="Scrivi un messaggio">
          </div>
          

          <div class="box-vocal-audio">
            <i class="fas fa-microphone"></i>
          </div>
          
        </section>
      </div>
    </div>







  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/script.js"></script>
</body>
</html>